{% extends "inventory/base.html" %}
{% block title %}
{{ menuitem.title }}
{% endblock %}
{% block content %}
<div class="relative shadow-md overflow-x-auto bg-white dark:bg-gray-900 px-10 pb-20">



    <div
        class="w-full max-w-md my-10 p-8 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
        <div class="flex items-center justify-between mb-4">
            <h5 class="text-2xl font-extrabold leading-none text-gray-900 dark:text-white">{{ object.title }}</h5>
        </div>
        <div class="flow-root">
            <ul role="list" class="divide-y divide-gray-200 dark:divide-gray-700">
                <li class="py-3 sm:py-4">
                    <div class="flex items-center">
                        <div class="flex-1 min-w-0 ms-4">
                            <h5 class="text-lg font-bold leading-none text-blue-400 dark:text-blue-400">Price</h5>
                        </div>
                        <div class="inline-flex items-center text-base font-semibold text-gray-900 dark:text-white">
                            {{ object.price }} $
                        </div>
                    </div>
                </li>
                <li class="py-3">
                    <div class="flex items-center ">
                        <div class="flex-1 min-w-0 ms-4">
                            <h5 class="text-lg font-bold leading-none text-blue-400 dark:text-blue-400">Items Sold</h5>
                        </div>
                        <div class="inline-flex items-center text-base font-semibold text-gray-900 dark:text-white">
                            {{ items_sold }}
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>


    <table class="w-full p-10 text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
        <caption
            class="p-5 text-lg font-semibold rounded-t-lg text-left rtl:text-right text-gray-900 bg-white dark:text-white dark:bg-gray-800">
            Ingredients
            <a href="{% url 'reciperequirement_create' %}"
                class="inline-flex items-center justify-center ml-6 px-4 py-2 text-white bg-blue-600 hover:bg-blue-700 focus:ring-4 focus:ring-blue-300 dark:focus:ring-blue-800 font-medium rounded-lg text-sm">
                Add New
            </a>
        </caption>
        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
            <tr>
                <th scope="col" class="px-6 py-3">
                    Name
                </th>
                <th scope="col" class="px-6 py-3">
                    Quantity
                </th>
                <th scope="col" class="px-6 py-3">
                    Action
                </th>
            </tr>
        </thead>
        <tbody>
            {% for req in menuitem.reciperequirement_set.all %}
            <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                    {{ req.ingredient.name }}
                </th>
                <td class="px-6 py-4">
                    {{ req.quantity }} {{ req.ingredient.unit }}
                </td>
                <td class="flex items-center px-6 py-4">
                    <a href="{% url 'reciperequirement_update' req.id %}"
                        class="font-medium text-blue-600 dark:text-blue-500 hover:underline">Edit</a>
                    <a href="{% url 'reciperequirement_delete' req.id %}"
                        class="font-medium text-red-600 dark:text-red-500 hover:underline ms-3">Remove</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>


{% endblock %}