{% extends "inventory/base.html" %}
{% block title %}
Menu Items
{% endblock %}
{% block content %}
<div class="relative shadow-md overflow-x-auto bg-white dark:bg-gray-900 px-10 pb-20">
    <table class="w-full p-10 text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
        <caption class="p-5 text-lg font-semibold rounded-t-lg text-left rtl:text-right text-gray-900 bg-white dark:text-white dark:bg-gray-800">
            Menu Items
            <a href="{% url 'menuitem_create' %}" class="inline-flex items-center justify-center ml-6 px-4 py-2 text-white bg-blue-600 hover:bg-blue-700 focus:ring-4 focus:ring-blue-300 dark:focus:ring-blue-800 font-medium rounded-lg text-sm">
                Add New
            </a>
        </caption>
        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
            <tr>
                <th scope="col" class="px-6 py-3">
                    Item Name
                </th>
                <th scope="col" class="px-6 py-3">
                    Price
                </th>
                <th scope="col" class="px-6 py-3">
                    Ingredients
                </th>
                <th scope="col" class="px-6 py-3">
                </th>
                <th scope="col" class="px-6 py-3">
                    Action
                </th>
            </tr>
        </thead>
        <tbody>
            {% for menuitem in menuitems %}
            <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                    {{ menuitem.title }}
                </th>
                <td class="px-6 py-4">
                    {{ menuitem.price }} $
                </td>
                <td class="px-6 py-4">
                    {% with ingredient_names=menuitem.reciperequirement_set.all|join:", " %}
                        {{ ingredient_names|truncatechars:70 }}
                    {% endwith %}
                </td>
                <td class="px-6 py-4">
                    <a href="{% url 'menuitem_detail' menuitem.id %}" class="font-medium text-green-500 dark:text-green-500 hover:underline">View Details</a>
                </td>
                <td class="flex items-center content-center px-6 py-4">
                    <a href="{% url 'menuitem_update' menuitem.id %}" class="font-medium text-blue-600 dark:text-blue-500 hover:underline">Edit</a>
                    <a href="{% url 'menuitem_delete' menuitem.id %}" class="font-medium text-red-600 dark:text-red-500 hover:underline ms-3">Remove</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>


{% endblock %}